section{
    padding: 20px 0;
}

#hero{
    width: 100%;
    height: 30vh;
    background-color: lightgray;
    padding: 20px auto;
}

#hero > h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#whyUs{
    width: 100%;
    float: left;
    background-color: beige;
    padding: 20px auto;
}

#whyUs > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#callToAction {
    width: 100%;
    height: 30vh;
    background-color: beige;
    padding: 20px auto;
}

#callToAction > p {
    display: flex;
    justify-content: center;
    align-items: center;
}


 @media (max-width: 800px) {
    #whyUs{
        width: 100%;
    }
    #callToAction {
        width: 100%;
    }
} 

main{
    background-color: black;
}