html {
  --primary-color: rgb(255, 146, 29);
  --primary-color-hover: rgb(231, 132, 27);

  --secondary-color: #6f2d71;
  --tertiary-color: rgb(17, 37, 30);
  --quaternary-color: #fee1c7;
  --quinary-color: #b5a886;
  --radius: 8px;
}

:root {
  --primary-color: #3cb371;
  --dark-green: #17350c;
  --beige: rgb(205,205,187);
  --grey: #424242;

}

a {
  color: var(--grey);
}
  
a:link {
  text-decoration: none;
  outline: none;
}
  
a:visited {
  color: var(--dark-green);
}

a:hover {
  color: rgb(22, 207, 37);
  text-decoration: underline;
} 

a:focus {
  color: rgb(22, 207, 37);
  text-decoration: underline;
}
  
a:active {
  font-size: 20px;
  color: var(--beige);
}

*{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-weight: 100;
}
  
h1{
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  margin: 20px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p{
  margin: 10px;
}

header{
    top: 0;
    display: flex;
    justify-content: center;
}


header, footer{
    position: fixed;
    background-color: var(--primary-color);
    height: 100px;
    width: 100vw;
}




footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
    padding-top: 100px;
    padding-bottom: 100px;
}

li{
    display: inline;
    margin: 50px;
}

#copyright{
    font-size: 10px;
    margin: 20px;

}


.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

@media  (max-width: 800px)
{
    .disappearing{
        display: none;
    }
}

@media  (min-width: 801px)
{
   
    .mobileFeature{
        display: none;
    }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav li {
  display: inline;
  margin: 50px;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--quaternary-color);
}
a {
  font-size: 30px;
}